<div class="options question">
  <p><%= @question %></p>
  <p><span>-You</span></p>
</div>

<div class="options answer">
  <p><strong><%= @answer %></strong></p>
  <p><span>-Your coach</span></p>
</div>

<%= link_to "Ask a new question", ask_path %>