<div class="form">
  <p>Ask your coach anything:</p>

  <form action="answer" method="get">
    <input type="text" name="question" id="ask">
    <input type="submit" value="Ask!" id="btn">
</form>

</div>