// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 15px;
  background-color: rgb(250, 250, 250);
}
.container {
  width: 100%;
}

h1 { 
  font-weight: bold;
}

.options {
  border-left: 3px solid gray;
  padding: 5px 15px;
  margin: 10px 0;
}

.options span {
  font-style: oblique;
}

.question {
  background-color: white;
}

.answer {
  background-color: rgb(255, 187, 187);
}

.form #btn {
  background-color: rgb(10, 10, 184);
  border-style: none;
  color: white;
  font-weight: bold;
  padding: 11px 15px;
  border-radius: 0 5px 5px 0;
  margin: 0;
;}

.form #ask {
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 0;
}
